name: Continuous Integration

on:
  push:
    branches: 
      - main

  pull_request:
    branches:
      - main

env:
  DENO_VERSION: 1.20.6
  PORT: 8000
  POSTGRES_HOST: localhost
  POSTGRES_PORT: 5432
  POSTGRES_USER: user
  POSTGRES_PASSWORD: pass
  POSTGRES_DB: db

jobs:
  formatting-and-linting:
    name: Check formatting and linting
    runs-on: ubuntu-latest

    steps:
      - name: Install Deno
        uses: denoland/setup-deno@main
        with:
          deno-version: ${{env.DENO_VERSION}}

      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Check Deno formatting
        run: deno fmt --check

      - name: Check Deno linting
        run: deno lint

  migrations-and-tests:
    name: Run migrations and tests
    runs-on: ubuntu-latest

    services:
      db:
        image: postgres:14
        env:
          POSTGRES_USER: ${{env.POSTGRES_USER}}
          POSTGRES_PASSWORD: ${{env.POSTGRES_PASSWORD}}
          POSTGRES_DB: ${{env.POSTGRES_DB}}
        ports:
          - "5432:5432"
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Install Deno
        uses: denoland/setup-deno@main
        with:
          deno-version: ${{env.DENO_VERSION}}

      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Backup lock-file
        run: cp lock.json lock-backup.json

      - name: Cache dependencies (overwriting lock-file)
        run: ./scripts/update-lock-file.sh

      - name: Verify lock-file
        run: cmp lock.json lock-backup.json

      - name: Run migrations
        run: ./scripts/run-migrations.sh

      - name: Run tests
        run: ./scripts/run-tests.sh

      - name: Make code coverage file 
        run: deno coverage code-coverage --lcov --output=code-coverage.lcov

      - name: Check code coverage 
        uses: codecov/codecov-action@v2
        with:
          files: ./code-coverage.lcov
