name: Continuous Integration

on:
  push:
    branches: 
      - main

  pull_request:
    branches:
      - main

env:
  PORT: 8000
  POSTGRES_HOST: db
  POSTGRES_PORT: 5432
  POSTGRES_USER: user
  POSTGRES_PASSWORD: pass
  POSTGRES_DB: db

jobs:
  formatting-and-linting:
    name: Check formatting and linting
    runs-on: ubuntu-latest
    container: denoland/deno:alpine-1.20.5

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Check Deno formatting
        run: deno fmt --check

      - name: Check Deno linting
        run: deno lint

  migrations-and-tests:
    name: Run migrations and tests
    runs-on: ubuntu-latest
    container: denoland/deno:alpine-1.20.5

    services:
      db:
        image: postgres:14
        env:
          POSTGRES_USER: ${{env.POSTGRES_USER}}
          POSTGRES_PASSWORD: ${{env.POSTGRES_PASSWORD}}
          POSTGRES_DB: ${{env.POSTGRES_DB}}
        ports:
          - "5432:5432"
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Run migrations
        run: ./scripts/run-migrations.sh

      - name: Run tests
        run: ./scripts/run-tests.sh

      - name: Make code coverage file 
        run: deno coverage cov_profile --lcov --output=coverage.lcov

      - name: Check code coverage 
        uses: slavcodev/coverage-monitor-action@v1
        with:
          file: ./coverage.lcov
