name: Migrations and E2E-tests

on:
  push:
    branches:
      - main

env:
  DENO_VERSION: 1.20.3
  POSTGRES_HOST: localhost
  POSTGRES_PORT: 5432
  POSTGRES_USER: user
  POSTGRES_PASSWORD: pass
  POSTGRES_DB: db

jobs:

  tests:
    name: Run migrations
    runs-on: ubuntu-latest      

    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_USER: ${{env.POSTGRES_USER}}
          POSTGRES_PASSWORD: ${{env.POSTGRES_PASSWORD}}
          POSTGRES_DB: ${{env.POSTGRES_DB}}
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Install deno
        uses: denoland/setup-deno@main
        with:
          deno-version: ${{env.DENO_VERSION}}

      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Run migrations
        run: deno run -A --unstable https://deno.land/x/nessie/cli.ts migrate

      - name: Run tests
        run: deno test
