name: Migrations and E2E-tests

on:
  push:
    branches:
      - main

env:
  DENO_VERSION: 1.20.5
  PORT: 8000
  POSTGRES_HOST: db
  POSTGRES_PORT: 5432
  POSTGRES_USER: user
  POSTGRES_PASSWORD: pass
  POSTGRES_DB: db

jobs:
  tests:
    name: Run migrations and tests
    runs-on: ubuntu-latest
    container: denoland/deno:alpine-1.20.5

    services:
      db:
        image: postgres:14
        env:
          POSTGRES_USER: ${{env.POSTGRES_USER}}
          POSTGRES_PASSWORD: ${{env.POSTGRES_PASSWORD}}
          POSTGRES_DB: ${{env.POSTGRES_DB}}
        ports:
          - "5432:5432"
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Install Deno
        uses: denoland/setup-deno@main
        with:
          deno-version: ${{env.DENO_VERSION}}

      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Run migrations
        run: ./scripts/run-migrations.sh

      - name: Run tests
        run: ./scripts/run-tests.sh
